@use 'variables' as v;
@use 'colors' as c;

body.contact {

    h1, h2 {
        @include v.headings
    }
    
    p {
        @include v.paragraphs;
    }

    .text {
        @include v.textBorders
    }
    
    .socials {
       @include v.socials;
       margin-bottom: 1.5rem;
    }

}


label {
    font-size: .813rem;
    font-weight: 700;
    color: c.$grayishDarkBlue;
    line-height: 30px;
}

input, textarea {
    display: block;
    margin-top: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: .575rem 1rem;
    border: none;
    background: rgba(230, 230, 231, 1);
    line-height: 30px;
    font-size: .813rem;
    outline: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid c.$desaturaredCyan;
    }
}

.email, .name {
    margin-bottom: 1.25rem;
}



button {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: c.$darkBlue;
    width: 200px;
    padding: 1.075rem 0;
    margin-top: 2rem;
}

.has-error {

    input, textarea {
        border: 1px solid c.$brightRed;
    }
    .error-div {
        color: c.$brightRed;
        font-size: .625rem;
        font-weight: 700;
        font-style: italic;
        margin-top: .25rem;
    }
}
