@use 'colors' as c;
@use 'variables' as v;

body.portfolio {

  /*   this targets all the div elements that are children of 
  the projects div except the first one */
    .project:not(:first-child) {
        margin-top: 4rem;
    }

    .project-img img {
        box-sizing: border-box;
        width: 100%;
    }

    h2 {
        @include v.headings;
        margin: 1.5rem 0;
    }

    p {
        @include v.paragraphs;
    }

    .text {
        @include v.textBorders;
    }

    .btn-main {
        @include v.buttons;
        width: 175px;
        margin: 1.5rem 0;
    }

    @media screen and (min-width: 768px) {
        // creates the side by side look of the text and img div
        .project {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4.375rem;
        }

        h2 {
            margin: 2.25rem 0;
        }

        // creates the alternating text and img design
        .project:nth-child(2n) .text {
            grid-area: 1;
        }

        .text {
            margin-top: 0;
        }
        // centers the img div vertically
        .project-img {
            align-content: center;
        }

        .btn-main {
            margin: 2.25rem 0;
        }
    }
}
