@use 'colors' as c;
@use 'variables' as v;

body.portfolio {
        .projects {
        // margin-top: 2rem;
    }

    // this targets all the div elements that are children of the projects div except the first one
    .project:not(:first-child) {
        margin-top: 4rem;
    }


    .project-img img {
        box-sizing: border-box;
        width: 100%;
    }

    h2 {
        @include v.headings;
    }

    p {
        @include v.paragraphs;
    }

    .text {
        @include v.textBorders;
    }

    .btn {
        @include v.buttons;
        width: 175px;
        margin: 1.5rem 0;
    }
}
