@use 'variables' as v;
@use 'colors' as c;

body.portfolio-index {

    .project-prev-img img, 
    .img-previews img{
        box-sizing: border-box;
        width: 100%;
    }

    h1 {
        @include v.headings;
        margin: 1.5rem 0rem;
    }

    p {
        @include v.paragraphs;
        margin: 0 0 1.5rem;
    }

    .text {
        @include v.textBorders;
    }

    .tech-info p {
        color: c.$desaturaredCyan;
        font-weight: 700;
        font-size: .813rem;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem
    }

    .btn {
        @include v.buttons;
        width: 178px;
        margin-bottom: 1.5rem;
        padding: 1rem 0;
    }

    button {
        margin-top: 0;
    }

    h2 {
        @include v.headingPortfolio;
        line-height: 42px;
        margin-top: 2.5rem;
        margin-bottom: 1.75rem;
    }

    h3 {
        @include v.headingPortfolio;
        line-height: 32px;
        margin-top: 2.5rem;
        margin-bottom: 1.75rem;
    }
    
    .img-previews {
        margin-top: 2.5rem;
        display: grid;
        row-gap: 2rem;
        margin-bottom: 4rem;
    }

    .project-nav {
        border-top: 1px solid rgba(220, 220, 222, 1);
        border-bottom: 1px solid rgba(220, 220, 222, 1);
        
        .next {
            border-left: 1px solid rgba(220, 220, 222, 1);
            align-items: end;
            text-align: right;
        }
    }

    .project-nav .previous {
        text-align: left;
    }
    
    .btn-nav {
        box-sizing: border-box;
        width: 100%;
        background: none;
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 1.65rem 0;
        margin: 0;
        row-gap: 1rem;

        h3 {
            text-transform: capitalize;
            margin: 0;
        }

        p {
            margin: 0;
            letter-spacing: 0;
            text-transform: capitalize;
            color: rgba(150, 150, 156, 1)
        }
    }

    .collab {
        h3 {
            @include v.headings;
            margin-block: 0;
            text-align: center;
        }
    }

    @media screen and (min-width: 768px) {
        // removing styles from the mobile version
        h1 {
            margin: 0;
        }

        p, .btn {
            margin-bottom: 0;
        }

        .tech-info {
            margin: 1rem 0;

            p {
                margin: 0
            }
        }
        // using grid to rearrange the layout
        .text {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto auto;
            grid-auto-flow: dense;
            padding: 2rem 0;

            #project-summary {
                grid-column: 2;
                grid-row: 1/-1;
            }

            #project-name, .tech-info, .btn {
                grid-column: 1;
            }
        }
        .btn-nav {
            // previously direction column, now row
            // there are 2 divs in the btn-nav - one for the img and the other for the text
            flex-direction: row;
            align-items: center;
            column-gap: 2rem;
        }


        .project-nav .next {
            justify-content: right; // pushing the content to the right side of the container
            align-items: center; /* the img needed to be on the right for the img so flex end was used push 
            it to the right. using center to vertically center it*/
        }

        .next .btn-img {
            order: 2;
        }
    }   
    
    @media screen and (min-width: 1440px) {
        .info {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto auto;
            column-gap: 7.813rem;
        }

        .text {
            padding: 3rem 0;
            grid-template-columns: 1fr;
            grid-row: 1/-1;

            #project-summary {
                margin: 1.25rem 0;
                grid-column: 1;
            }

            .tech-info {
                margin-bottom: 1.5rem;
                .tech {
                    margin-top: 1rem;
                }
            }
        }    
    }
}

.box {
    transition: opacity 10000ms;
    will-change: opacity;
}

.faded-out {
    opacity: 0;
}

