@use 'colors' as c;

@mixin headings {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.36px;
    color: c.$grayishDarkBlue;
    line-height: 42px;
}

@mixin headingPortfolio {
    font-size: 2rem;
    font-weight: 400;
    color: c.$grayishDarkBlue;
    letter-spacing: -.29px;
}

@mixin paragraphs {
    line-height: 30px;
    font-size: 0.938rem;
    color: c.$grayishDarkBlue;
    font-weight: 400;
    margin: 0;
}

@mixin textBorders {
    margin-top: 2rem;
    border-top: 1px solid rgba(220, 220, 222, 1);
    border-bottom: 1px solid rgba(220, 220, 222, 1);
}

@mixin buttons {
    border: 1px solid c.$grayishDarkBlue;
    padding: .865rem 0;
    text-align: center;
    align-self: center;
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: none;
    color: c.$grayishDarkBlue;
    
    a,a:visited {
        color: c.$grayishDarkBlue;
        text-decoration: none;
    }
}

@mixin greenBtn {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: c.$darkBlue;
    width: 200px;
    height: 48px;
}

@mixin socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    @media screen and (min-width: 768px) {
        width: 15%;
    }
}