@use 'variables' as v;
@use 'colors' as c;
@use 'font';
@use 'portfolio';
@use 'contact';
@use 'projects';

.tablet, 
.desktop {
    display: none;
}

body {
    font-family: "Public Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Ibarra Real Nova", serif;
}

main {
    padding: 2rem 2rem 0;
}

header {
    margin-bottom: 2.5rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    .menu {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    // close menu btn hidden buy default
    #close-btn {
        display: none;
    }

    // mobile hidden by default
   
    .overlay {
        display: none;
        background: c.$grayishDarkBlue;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
        padding: 2.5rem 2rem;
        box-sizing: border-box;
        width: 70%;
        position: absolute;
        top: 100%;
        right: 0;

        a,a:visited {
            text-transform: uppercase;
            font-size: .75rem;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
        }
    }
}

body.index {
    .hero {
        h1 {
            margin-top: 1.5rem;
            margin-bottom: 0;
            @include v.headings;
        }
    
        .hero-img img{
            box-sizing: border-box;
            width: 100%;
        }
    
        .btn {
            @include v.greenBtn;
            display: flex;
            align-items: center;
            margin-top: 2.5rem;
            background: rgba(32, 58, 76, 1);
            padding: 0;
            .btn-text {
                margin: 0 auto;
            }
            
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 1);
                width: 48px;
                height: 48px;
            }
        }
    }
    
    .about {
        margin-top: 6rem;
    
        h2 {
            @include v.headings;
            margin-block: 0;
            margin: 2rem 0;
        }
    
        p {
          @include v.paragraphs;
          font-size: 1rem;
          margin: 0;
        }
    
        .text {
            @include v.textBorders;
        }
    
        .img-container img {
            box-sizing: border-box;
            width: 100%;
        }
    
        .btn-main {
            @include v.buttons;
            margin-top: 1.75rem;
            margin-bottom: 4rem;
        }
    }
    
}

.collab {
   margin: 6rem 0;
   
   h3 {
       @include v.headings;
       margin-block: 0;
       text-align: center;
    }

    .btn-main {
        @include v.buttons;
        width: 162px;
        display: block;
        margin: 2.5rem auto 0 !important;
    }
}

footer {
    background: c.$grayishDarkBlue;
    text-align: center;
    padding: 3.25rem 0;

    .logo,
    .links {
        margin-bottom: 2.5rem;
    }

    .links {
        display: grid;
        row-gap: 2rem;

        a, a:visited {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 2px;
            font-size: .75rem;
        }
    }

    .socials-footer {
        @include v.socials;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        margin: auto 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    header {
        margin-bottom: 3.5rem;
    }

    main {
        padding: 4rem 2.5rem 0;
    }

    nav {
        grid-template-columns: repeat(2, auto);

        .overlay {
            display: flex;
            flex-direction: row;
            column-gap: 2.6rem;
            position: static;
            width: 100%;
            padding: 0;
            background: none;

            a,a:visited {
                color: c.$grayishDarkBlue;
            }
        }
    }

    body.index {
        // the img and the text need to overlap
        .hero {
            display: grid;

            h1 {
                margin-top: 3.25rem;
            }

            .btn {
                margin-top: 3.25rem;
            }
            
            .text {
                background: c.$veryLightGrey;
                margin-top: auto;
                height: fit-content;
                width: 65%;
                padding-right: 4rem;
            }
            
            // makes them overlap
            .hero-img, 
            .text {
                grid-area: -1/1;
            }
        }

        .about { 
            display: grid;
            grid-template-columns: 17.563rem auto;
            column-gap: 4.375rem;

            h2 {
                margin: 3rem 0 2rem;
            }

            .text {
                margin-top: 0;
            }

            .btn-main {
                margin-bottom: 3rem;
            }
        }
    }

    .collab {
        display: grid;
        grid-template-columns: 1fr 1fr;

        h3 {
            text-align: left;
        }

        .btn-main {
            margin: auto 0 auto auto !important;
        }
    }

    footer {
        display: flex;
        padding: 1.35rem 2.5rem;
        column-gap: 3.5rem;
        align-items: center;

        .logo, .links {
            margin-bottom: 0;
        }

        .links {
            grid-template-columns: repeat(3, auto);
            column-gap: 2.5rem;
        }

        .socials-footer {
            margin: 0 0 0 auto;
            width: 15%;
        }
    }
}

// mobile menu styles when active;
.active {
    .overlay {
        display: flex;
    }

    #menu-btn {
        display: none;
    }

    #close-btn {
        display: block;
    }
}
